<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
  <head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>add</title>
	<!-- form.cssの読み込み -->
	<link href="/css/form.css" rel="stylesheet"></link>
	<!-- BootstrapのCSS読み込み -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </head>
<body>
  <!-- th:replaceを使用して、 ヘッダー用のフラグメントを読込みます -->
  <div th:replace="common :: header_fragment"></div>
	<form th:action="@{/add/confirm}" th:object="${addRequest}" method="post">
	  <div class="container">
	  	<h1>プロフィール登録フォーム</h1>

	  	  <!-- UserName -->
	      <div class="form-group">
	        <label for="inputName3" class="col-sm-2 control-label">ユーザー名</label>
	        <div class="col-sm-10">
              <input type="text" class="form-control" id="inputName3" placeholder="UserName" th:field="*{name}">
              <p th:errors="*{name}" class="error-message"></p>
	        </div>
	      </div>

	      <!-- TeamName -->
	      <div class="form-group">
	        <label for="inputTeamName3" class="col-sm-2 control-label">所属チーム名</label>
	        <div class="col-sm-10">
              <input type="text" class="form-control" id="inputTeamName3" placeholder="TeamName" th:field="*{team}">
              <p th:errors="*{team}" class="error-message"></p>
	        </div>
	      </div>

	      <!-- position -->
	      <div class="form-group">
	        <label for="inputposition3" class="col-sm-2 control-label">守れるポジション</label>
	        <div class="col-sm-10">
              <input type="text" class="form-control" id="inputposition3" placeholder="position" th:field="*{position}">
              <p th:errors="*{position}" class="error-message"></p>
	        </div>
	      </div>

		<!-- button -->
		<div class="form-group">
		  <div class="col-sm-offset-2 col-sm-10">
		  <div class="btn_area_center">
			<button type="submit" class="btn-outline-success" value="確認">Confirm</button>
		  </div>
		  </div>
		</div>

	  </div>
	</form>
<body>

</body>
</html>