<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>BBS</title>
<link href="/css/addlist.css" rel="stylesheet"></link>
</head>
<body>
  <!-- th:replaceを使用して、 ヘッダー用のフラグメントを読込みます -->
  <div th:replace="common :: header_fragment"></div>
	<h1>BBS</h1>
	<a th:href="@{/bbs/form}">入力フォームへ</a>
	<table>
		<thead>
			<tr>
				<th>募集者</th>
				<th>チーム名</th>
				<th>開催日</th>
				<th>募集期日</th>
				<th>募集エリア</th>
				<th>会場</th>
				<th>会費</th>
				<th>募集人数</th>
				<th>募集レベル</th>
				<th>種類</th>
				<th>本文</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="bbs : ${bbslist}" th:object="${bbs}">
				<td th:text="*{name}"></td>
				<td th:text="*{team}"></td>
				<td th:text="*{#temporals.format(event, 'yyyy/MM/dd')}"></td>
				<td th:text="*{#temporals.format(deadline, 'yyyy/MM/dd')}"></td>
				<td th:text="*{area}"></td>
				<td th:text="*{venue}"></td>
				<td th:text="*{cost}"></td>
				<td th:text="*{capacity}"></td>
				<td th:text="*{level}"></td>
				<td th:text="*{type}"></td>
				<td th:text="*{text}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>