<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
  <head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>BBS</title>
	<link href="/css/addlist.css" rel="stylesheet"></link>
	<!-- BootstrapのCSS読み込み -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </head>
<body>
  <!-- th:replaceを使用して、 ヘッダー用のフラグメントを読込みます -->
  <div th:replace="common :: header_fragment"></div>
   	<div class="container">
	  <h1>BBS</h1>
	    <a th:href="@{/bbs/form}">入力フォームへ</a>
	      <table class="table table-striped">
		    <thead>
			  <tr>
			    <th>募集者</th>
				<th>チーム名</th>
				<th>開催日</th>
				<th>募集期日</th>
				<th>募集エリア</th>
				<th>会場</th>
				<th>会費</th>
				<th>募集人数</th>
				<th>募集レベル</th>
				<th>種類</th>
				<th>本文</th>
			</tr>
		</thead>
		<tbody>
		  <tr th:each="bbs : ${bbslist}" th:object="${bbs}">
		    <td th:text="*{name}"></td>
		    <td th:text="*{team}"></td>
		    <td th:text="*{#temporals.format(event, 'yyyy/MM/dd')}"></td>
			<td th:text="*{#temporals.format(deadline, 'yyyy/MM/dd')}"></td>
			<td th:text="*{area}"></td>
			<td th:text="*{venue}"></td>
			<td th:text="*{cost}"></td>
			<td th:text="*{capacity}"></td>
			<td th:text="*{level}"></td>
			<td th:text="*{type}"></td>
			<td th:text="*{text}"></td>
		  </tr>
		  </tbody>
		  </table>
		</div>
</body>
</html>