<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
  <head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<title>confirm</title>
	<!-- form.cssの読み込み -->
	<link href="/css/form.css" rel="stylesheet"></link>
	<!-- BootstrapのCSS読み込み -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </head>
<body>
  <!-- th:replaceを使用して、 ヘッダー用のフラグメントを読込みます -->
  <div th:replace="common :: header_fragment"></div>
	<form th:action="@{/create}" th:object="${formRequest}" method="post">
	<div class="container">
	  <h1>確認用ページ</h1>
		  <div>
		    <label for="team">チーム名</label><br />
		    <p th:text="*{team}">team</p>
		  </div>
		  <div>
		    <label for="event">開催日</label><br />
		    <td th:text="*{#temporals.format(event, 'yyyy/MM/dd')}"></td>
		  </div>
		  <div>
		    <label for="deadline">募集期日</label><br />
		    <td th:text="*{#temporals.format(deadline, 'yyyy/MM/dd')}"></td>
		  </div>
		  <div>
		    <label for="area">エリア</label><br />
		    <p th:text="*{area}">area</p>
		  </div>
	  	  <div>
		    <label for="venue">会場</label><br />
		    <p th:text="*{venue}">venue</p>
		  </div>
	  	  <div>
		    <label for="cost">会費</label><br />
		    <p th:text="*{cost}">cost</p>
		  </div>
	      <div>
		    <label for="capacity">募集人数</label><br />
		    <p th:text="*{capacity}">capacity</p>
		  </div>
		  <div>
		    <label for="level">募集レベル</label><br />
		    <p th:text="*{level}">level</p>
		  </div>	  	  <div>
		    <label for="type">種類</label><br />
		    <p th:text="*{type}">type</p>
		  </div>
	  	  <div>
		    <label for="text">本文</label><br />
		    <p th:text="*{text}">text</p>
		  </div>
	  	  <div>

		</div>
		<div>
	        <input type="hidden" name="team" th:value="*{team}" />
	        <input type="hidden" name="event" th:value="*{#temporals.format(event, 'yyyy/MM/dd')}" />
	        <input type="hidden" name="deadline" th:value="*{#temporals.format(deadline, 'yyyy/MM/dd')}" />
	        <input type="hidden" name="area" th:value="*{area}" />
	        <input type="hidden" name="venue" th:value="*{venue}" />
	        <input type="hidden" name="cost" th:value="*{cost}" />
	        <input type="hidden" name="capacity" th:value="*{capacity}" />
	        <input type="hidden" name="level" th:value="*{level}" />
	        <input type="hidden" name="type" th:value="*{type}" />
	        <input type="hidden" name="text" th:value="*{text}" />
   		</div>

    	<!-- button -->
		<div class="form-group">
		  <div class="col-sm-offset-2 col-sm-10">
		  <div class="btn_area_center">
			<button type="submit" class="btn btn-success" name="save">登録</button>
			<button type="button" class="btn btn-warning" name="back" onclick="history.back()">戻る</button>
		  </div>
		  </div>
		</div>

    </div>
	</form>

</body>
</html>