<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>home</title>
<link href="/css/addlist.css" rel="stylesheet"></link>
</head>
<body>
  <!-- th:replaceを使用して、 ヘッダー用のフラグメントを読込みます -->
  <div th:replace="common :: header_fragment"></div>
	<h1>HOME</h1>
	<table>
		<thead>
			<tr>
				<th>タイトル</th>
				<th>募集者</th>
				<th>開催日</th>
				<th>募集エリア</th>
				<th>種類</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="bbs : ${bbslist}" th:object="${bbs}">
				<td th:text="*{text}"></td>
				<td th:text="*{name}"></td>
				<td th:text="*{event}"></td>
				<td th:text="*{area}"></td>
				<td th:text="*{type}"></td>
			</tr>
		</tbody>
	</table>
  </body>
</html>